<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
        
    <add name="BibliotecaDALC.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=localhost:1521/xe;PERSIST SECURITY INFO=True;USER ID=RSXXI; PASSWORD=RSXXI" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  
</configuration>